annotated-types==0.7.0
anyio==3.7.1
beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
coloredlogs==15.0.1
eva-decord==0.6.1
exceptiongroup==1.3.0
fastapi==0.104.1
flatbuffers==25.2.10
h11==0.16.0
humanfriendly==10.0
idna==3.10
mpmath==1.3.0
numpy==1.26.4
onnxruntime==1.18.1
packaging==25.0
pillow==11.3.0
protobuf==6.32.0
pydantic==2.5.0
pydantic-core==2.14.1
requests==2.31.0
sniffio==1.3.1
soupsieve==2.8
starlette==0.27.0
sympy==1.14.0
typing-extensions==4.15.0
urllib3==2.5.0
uvicorn==0.24.0
annotated-types==0.7.0
anyio==3.7.1
av==15.1.0
beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
einops==0.8.1
eva-decord==0.6.1
exceptiongroup==1.3.0
fastapi==0.104.1
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.2
fsspec==2025.7.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
h11==0.16.0
hf-xet==1.1.9
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
imagebind @ git+https://github.com/imortaltatsu/ImageBind/@c2ee0fa003d950961c842c76f72a9ed5375ab3f1
importlib-metadata==8.7.0
importlib-resources==6.5.2
iopath==0.1.10
jinja2==3.1.6
kiwisolver==1.4.7
markupsafe==3.0.2
matplotlib==3.9.4
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
onnxruntime==1.18.1
packaging==25.0
parameterized==0.9.0
pillow==11.3.0
portalocker==3.2.0
protobuf==6.32.0
pydantic==2.5.0
pydantic-core==2.14.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
pyyaml==6.0.2
regex==2025.8.29
requests==2.31.0
safetensors==0.6.2
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
starlette==0.27.0
sympy==1.14.0
tabulate==0.9.0
termcolor==3.1.0
timm
torch==1.13.1
torchvision  # because torch version already specific, the right torchvision will be derived automatically
torchaudio  
tqdm==4.67.1
triton==3.4.0
types-regex==2025.8.29.20250831
typing-extensions==4.15.0
urllib3==2.5.0
uvicorn==0.24.0
wcwidth==0.2.13
yacs==0.1.8
zipp==3.23.0
langchain
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.9.1
async-timeout==4.0.3
attrs==25.3.0
audioread==3.0.1
av==15.1.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.5
cachetools==5.5.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
chroma-hnswlib==0.7.3
chromadb==0.4.18
click==8.1.8
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.2.1
distro==1.9.0
durationpy==0.10
einops==0.8.1
eva-decord==0.6.1
exceptiongroup==1.3.0
fastapi==0.104.1
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.2
frozenlist==1.7.0
fsspec==2025.7.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
google-auth==2.40.3
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpcio==1.74.0
h11==0.16.0
hf-xet==1.1.9
httptools==0.6.4
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
imagebind @ git+https://github.com/imortaltatsu/ImageBind/@c2ee0fa003d950961c842c76f72a9ed5375ab3f1
importlib-metadata==8.7.0
importlib-resources==6.5.2
iopath==0.1.10
jinja2==3.1.6
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.7
kubernetes==33.1.0
langchain==0.0.347
langchain-core==0.0.11
langsmith==0.0.92
lazy-loader==0.4
librosa==0.11.0
llvmlite==0.43.0
markdown-it-py==3.0.0
markupsafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
mdurl==0.1.2
mmh3==5.2.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
mypy-extensions==1.1.0
networkx==3.2.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.3.1
onnxruntime==1.18.1
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
overrides==7.7.0
packaging==25.0
parameterized==0.9.0
pillow==11.3.0
platformdirs==4.4.0
pooch==1.8.2
portalocker==3.2.0
posthog==6.7.1
propcache==0.3.2
protobuf==6.32.0
pulsar-client==3.8.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.5.0
pydantic-core==2.14.1
pygments==2.19.2
pyparsing==3.2.3
pypika==0.48.9
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
pyyaml==6.0.2
regex==2025.8.29
requests==2.31.0
requests-oauthlib==2.0.0
rich==14.1.0
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.13.1
sentence-transformers==2.2.2
sentencepiece==0.2.1
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
sqlalchemy==2.0.43
starlette==0.27.0
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
termcolor==3.1.0
threadpoolctl==3.6.0
timm
tokenizers==0.13.3
torch==1.13.1
torchvision  # because torch version already specific, the right torchvision will be derived automatically
torchaudio  
tqdm==4.67.1
transformers==4.29.2
triton==3.4.0
typer==0.17.3
types-regex==2025.8.29.20250831
typing-extensions==4.15.0
typing-inspect==0.9.0
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.21.0
watchfiles==1.1.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
wrapt==1.17.3
yacs==0.1.8
yarl==1.20.1
zipp==3.23.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.9.1
async-timeout==4.0.3
attrs==25.3.0
audioread==3.0.1
av==15.1.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.5
cachetools==5.5.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
chroma-hnswlib==0.7.3
chromadb==0.4.18
click==8.1.8
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.2.1
distro==1.9.0
durationpy==0.10
einops==0.8.1
eva-decord==0.6.1
exceptiongroup==1.3.0
fastapi==0.104.1
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.2
frozenlist==1.7.0
fsspec==2025.7.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
google-auth==2.40.3
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpcio==1.74.0
h11==0.16.0
hf-xet==1.1.9
httptools==0.6.4
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
imagebind @ git+https://github.com/imortaltatsu/ImageBind/@c2ee0fa003d950961c842c76f72a9ed5375ab3f1
importlib-metadata==8.7.0
importlib-resources==6.5.2
iopath==0.1.10
jinja2==3.1.6
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.7
kubernetes==33.1.0
langchain==0.0.347
langchain-core==0.0.11
langsmith==0.0.92
lazy-loader==0.4
librosa==0.11.0
llvmlite==0.43.0
markdown-it-py==3.0.0
markupsafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
mdurl==0.1.2
mmh3==5.2.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
mypy-extensions==1.1.0
networkx==3.2.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.3.1
onnxruntime==1.18.1
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
overrides==7.7.0
packaging==25.0
parameterized==0.9.0
pillow==11.3.0
platformdirs==4.4.0
pooch==1.8.2
portalocker==3.2.0
posthog==6.7.1
propcache==0.3.2
protobuf==6.32.0
pulsar-client==3.8.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.5.0
pydantic-core==2.14.1
pygments==2.19.2
pyparsing==3.2.3
pypika==0.48.9
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
pyyaml==6.0.2
regex==2025.8.29
requests==2.31.0
requests-oauthlib==2.0.0
rich==14.1.0
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.13.1
sentence-transformers==2.2.2
sentencepiece==0.2.1
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
sqlalchemy==2.0.43
starlette==0.27.0
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
termcolor==3.1.0
threadpoolctl==3.6.0
timm==1.0.19
tokenizers==0.13.3
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.67.1
transformers==4.29.2
triton==3.4.0
typer==0.17.3
types-regex==2025.8.29.20250831
typing-extensions==4.15.0
typing-inspect==0.9.0
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.21.0
watchfiles==1.1.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
wheel==0.45.1
wrapt==1.17.3
yacs==0.1.8
yarl==1.20.1
zipp==3.23.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.9.1
async-timeout==4.0.3
attrs==25.3.0
audioread==3.0.1
av==15.1.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.5
cachetools==5.5.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
chroma-hnswlib==0.7.3
chromadb==0.4.18
click==8.1.8
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.2.1
distro==1.9.0
durationpy==0.10
einops==0.8.1
eva-decord==0.6.1
exceptiongroup==1.3.0
fake-useragent==2.2.0
fastapi==0.104.1
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.2
frozenlist==1.7.0
fsspec==2025.7.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
google-auth==2.40.3
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpcio==1.74.0
h11==0.16.0
hf-xet==1.1.9
httptools==0.6.4
huggingface-hub==0.34.4
humanfriendly==10.0
idna==3.10
imagebind @ git+https://github.com/imortaltatsu/ImageBind/@c2ee0fa003d950961c842c76f72a9ed5375ab3f1
importlib-metadata==8.7.0
importlib-resources==6.5.2
iopath==0.1.10
jinja2==3.1.6
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.7
kubernetes==33.1.0
langchain==0.0.347
langchain-core==0.0.11
langsmith==0.0.92
lazy-loader==0.4
librosa==0.11.0
llvmlite==0.43.0
markdown-it-py==3.0.0
markupsafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
mdurl==0.1.2
mmh3==5.2.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
mypy-extensions==1.1.0
networkx==3.2.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
oauthlib==3.3.1
onnxruntime==1.18.1
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
overrides==7.7.0
packaging==25.0
parameterized==0.9.0
pillow==11.3.0
platformdirs==4.4.0
pooch==1.8.2
portalocker==3.2.0
posthog==6.7.1
propcache==0.3.2
protobuf==6.32.0
pulsar-client==3.8.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.5.0
pydantic-core==2.14.1
pygments==2.19.2
pyparsing==3.2.3
pypika==0.48.9
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
pyyaml==6.0.2
regex==2025.8.29
requests==2.31.0
requests-oauthlib==2.0.0
rich==14.1.0
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.13.1
sentence-transformers==2.2.2
sentencepiece==0.2.1
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
sqlalchemy==2.0.43
starlette==0.27.0
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
termcolor==3.1.0
threadpoolctl==3.6.0
timm==1.0.19
tokenizers==0.13.3
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.67.1
transformers==4.29.2
triton==3.4.0
typer==0.17.3
types-regex==2025.8.29.20250831
typing-extensions==4.15.0
typing-inspect==0.9.0
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.21.0
watchfiles==1.1.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
wheel==0.45.1
wrapt==1.17.3
yacs==0.1.8
yarl==1.20.1
zipp==3.23.0
